.head{
    width: 100vw;
    height: 80px;
    background-color: var(--light-blue-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.navbar{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000000;
    &-logo{
        font-size: var(--h2-fs);
        font-weight: bold;
    }
    &-ul{
        display: flex;
        li{
            margin:0 10px ;
            a{
                padding:5px 10px;
                color: #000000; 
            }
            a.active{
                color: var(--blue-bg);
                border-bottom: 3px solid var(--blue-bg);
            }
        }
    }
}
#navbar-bars{
    color: #000000;
    font-size: 1.5rem;
    display: none;
}
